doctype 5

mixin list(entries)
    each entry, i in entries
        li #{entry} #{i}

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      p header
    block content