doctype 5

mixin list(entries)
    each entry, i in entries
        li
            a(href='/news/#{i}') #{entry.date}:
            br
            span #{entry.content}
            br
            br

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
    block content