doctype html

mixin list(entries)
    each entry, i in entries
        li
            a(href='/news/#{i}') #{entry.date}:
            br
            span #{entry.content}
            br
            br

html
  head
    title= t('app.name')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='js/components/jquery/jquery.min.js')
    script(type='text/javascript', src='js/components/i18next/release/i18next-1.6.3.min.js')
    script(data-main='/js/web/main', src='/js/components/requirejs/require.js')

  body
    block header
    block content